@{
    ViewBag.Title = "Confirmação de redefinição de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sua senha foi redefinida. Por favor, @Html.ActionLink("clique aqui para fazer o login.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
