@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}

<hgroup>
    <h1 class="text-error">Erro.</h1>
    <h2 class="text-error">Ocorreu um erro ao processar sua requisição.</h2>
</hgroup>
