@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h1 class="text-error">Bloqueado.</h1>
    <h2 class="text-error">Está conta foi bloqueada, tente novamente mais tarde.</h2>
</hgroup>
