@model CodingCraftMod1Ex4Identity.Models.Usuario

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes.</h2>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>Lista de roles para esse usuário:</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>Nenhum role encontrada para este usuário.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>



